[Unit]
Description=Nullifier ingest query server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/nullifier-ingest
Environment="DATA_DIR=/opt/nullifier-ingest"
Environment="PORT=3000"
Environment="LWD_URL=https://zec.rocks:443"
ExecStart=/opt/nullifier-ingest/query-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
