<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>zcash_voting_ffiFFI</string>
	<key>CFBundleIdentifier</key>
	<string>org.zcash.zcash-voting-ffiFFI</string>
	<key>CFBundleName</key>
	<string>zcash_voting_ffiFFI</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iphonesimulator</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>100.0</string>
</dict>
</plist>
